<div class="containerHeader">
    <div class="containerNavbarInfo">
        <div class="containerSocialMediaNavbarInfo">
            <a target="_blank" href="https://www.instagram.com/ashly_perfectwig?igsh=cTdvNDRham5mNDNk"><img
                    src="./assets/Instagram.png" alt="Instagram"></a>
            <a target="_blank" href="https://www.whatsapp.com/catalog/573226994908/?app_absent=0"><img
                    src="./assets/WhatsApp.png" alt="Whatsapp"></a>
            <a target="_blank" href="https://www.tiktok.com/@ashly_perfectwig?_t=8n6Jut8GwlR&_r=1"><img
                    src="./assets/TikTok.png" alt="Tik tok"></a>
        </div>
        <div class="containerLabelNavbarInfo">
            <label>
                PAGO CONTRAENTREGA SOLO EN MEDELLIN
            </label>
        </div>
        <div class="containerLogoNavbarInfo">
            <img src="./assets/logo.jpg" alt="">
            <!-- <div class="containerLogoNavbarInfo"> -->
                <img onclick="openModal('loginModal')" src="./assets/User.png" alt="">
                <label onclick="userInformation()" id="labelUser"></label>
            <!-- </div> -->
        </div>
    </div>
    <div class="containerNavBar">
        <div class="containerNavBarTitle">
            <label id="navBarTitle">Perfect Wig</label>
            <label id="navBarSubTitle">By Ashly Estrada</label>
        </div>
        <div class="containerNavBarMenu">
            <div id="navBarMenuRow">
                <a href="./index.html">INICIO</a>
                <a href="./pages/products.html#ExtensionesSeminaturales">EXTENSIONES SEMINATURALES</a>
                <a href="./pages/products.html#PelucasSeminaturales">PELUCAS SEMINATURALES</a>
                <a href="./pages/products.html#ColetasSeminaturales">COLETAS SEMINATURALES</a>
            </div>
            <div id="navBarMenuRow">
                <a href="./pages/products.html#LineaPerfect">LÍNEA DE PRODUCTOS PERFECT</a>
                <a href="./pages/products.html#PelucasHumanas">PELUCAS HUMANAS</a>
                <a href="./pages/products.html#ExtensionesHumanas">EXTENSIONES HUMANAS</a>
                <a href="./pages/products.html#FrontalesHumanos">FRONTALES HUMANOS</a>
            </div>
        </div>
    </div>
  </div>