header {
    width: 100%;
  }
  
  .top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: white;
  }
  
  .media-icons,
  .user-actions-bar {
    display: flex;
    gap: 10px;
    margin: 0 30px;
  
    img {
      width: 23px;
    }
  }
  
  .navbar {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 25px 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .navbar-container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-title {
    text-align: center;
    font-size: 2em;
    margin: 10px auto 0 auto;
  }
  
  .navbar-subtitle {
    text-align: center;
    font-size: 0.8em;
    margin: 5px auto 15px auto;
  }
  
  .hamburger {
    display: none;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    left: 10px;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-links .row {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-links a {
    color: #282224;
    text-decoration: none;
    padding: 5px;
    font-weight: 550;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links a:hover {
    color: #6a6767;
  }
  
  /* Responsive */
  
  @media (max-width: 768px) {
    .navbar-title {
      font-size: 1.2em;
    }
  
    .navbar-subtitle {
      font-size: 0.6em;
    }
  
    .hamburger {
      display: block;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-links .row {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links a {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .navbar-title {
      font-size: 1em;
    }
  
    .navbar-subtitle {
      font-size: 0.3em;
    }
  
    .navbar-links a {
      font-size: 0.8em;
    }
  }