<div>
    <h2>Admin Panel</h2>
    <div>
      <h3>Productos</h3>
      <button (click)="openProductModal()">Agregar Producto</button>
      <div *ngIf="isProductModalOpen" class="custom-modal">
        <div class="custom-modal-dialog">
          <div class="custom-modal-content">
            <div class="custom-modal-header">
              <h5 class="custom-modal-title">Agregar Producto</h5>
              <button type="button" class="custom-close" (click)="closeProductModal()">×</button>
            </div>
            <div class="custom-modal-body">
              <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="nombre">Nombre del Producto:</label>
                  <input id="nombre" formControlName="nombre" class="form-control">
                </div>
                <div class="form-group">
                  <label for="precio">Precio:</label>
                  <input type="number" id="precio" formControlName="precio" class="form-control">
                </div>
                <div class="form-group">
                  <label for="stock">Stock:</label>
                  <input type="number" id="stock" formControlName="stock" class="form-control">
                </div>
                <div class="form-group">
                  <label for="descripcion">Descripción:</label>
                  <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoría:</label>
                  <select id="categoria" formControlName="categoria" class="form-control">
                    <option value="EXTENSIONES SEMINATURALES">EXTENSIONES SEMINATURALES</option>
                    <option value="PELUCAS SEMINATURALES">PELUCAS SEMINATURALES</option>
                    <option value="COLETAS SEMINATURALES">COLETAS SEMINATURALES</option>
                    <option value="LÍNEA DE PRODUCTOS PERFECT">LÍNEA DE PRODUCTOS PERFECT</option>
                    <option value="PELUCAS HUMANAS">PELUCAS HUMANAS</option>
                    <option value="EXTENSIONES HUMANAS">EXTENSIONES HUMANAS</option>
                    <option value="FRONTALES HUMANOS">FRONTALES HUMANOS</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="imagen">Imagen:</label>
                  <input type="file" id="imagen" (change)="onFileChange($event)" class="form-control" accept="image/*">
                </div>
                <button type="submit" class="custom-btn custom-btn-secondary">Agregar</button>
                <button type="button" class="custom-btn custom-btn-secondary" (click)="closeProductModal()">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  