<div class="containerLabelSeccionProductos">
  <label class="labelSeccionProductos">{{ category }}</label>
</div>
<div class="containerSectionProducts">
  <div *ngIf="products.length === 0" class="no-products">
    Productos no disponibles
  </div>
  <div *ngFor="let product of products" class="containerProducts">
    <div class="product-image-container">
      <img [src]="product.imagen" alt="producto {{ product.nombre }}">
      <div class="overlay">
        <button (click)="viewDetails(product)">Ver detalles</button>
        <button (click)="addToCart(product)">Añadir al carrito</button>
      </div>
    </div>
    <label>{{ product.nombre }}</label>
    <label>{{ product.precio | currency:'COP' }}</label>
  </div>
</div>
<app-toast-message [message]="toastMessage" [show]="showToast"></app-toast-message>

<div *ngIf="selectedProduct" class="custom-modal">
  <div class="custom-modal-dialog">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h5 class="custom-modal-title">{{ selectedProduct.nombre }}</h5>
        <button type="button" class="custom-close" (click)="closeModal()">×</button>
      </div>
      <div class="custom-modal-body">
        <img [src]="selectedProduct.imagen" alt="producto {{ selectedProduct.nombre }}" class="product-image">
        <p>{{ selectedProduct.descripcion }}</p>
        <label>{{ selectedProduct.precio | currency:'COP' }}</label>
        <div class="quantity-selector">
          <button (click)="decreaseQuantity()">-</button>
          <span>{{ quantity }}</span>
          <button (click)="increaseQuantity()">+</button>
        </div>
      </div>
      <div class="custom-modal-footer">
        <button type="button" class="custom-btn custom-btn-secondary" (click)="addToCart(selectedProduct, quantity)">Añadir al carrito</button>
      </div>
    </div>
  </div>
</div>
